<div class="container">
    <div class="row agenda_header vertical-align">
        <img class="col-xs-2" id="tm-logo" src="images/tm-logo-sm-min.png" alt="Toastmasters Logo" />
        <div class="col-sm-7 col-xs-12">
            <h1>Dolby Speakers</h1>
        </div>
        <div class="col-sm-3 col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <h2 id="date">{{meeting.date}}</h2>
                </div>
                <div class="col-xs-12">
                    <h3 id="location">3<span class="superscript">rd</span> Tonal Center</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!--   Following the principle of most important content first, the main agenda content is described first, followed by the officers' sidebar. But, in presentation terms, the ordering is reversed using the push/pull construct.  -->
        <article class="col-sm-9 main col-sm-push-3">
            <section id="wotd">
                <h4>Word of the day: <a href={{concat 'http://www.dictionary.com/browse/' wotd-definition.word}} target='_blank'>{{wotd-definition.word}}</a></h4>

                <div id="wotd-definition">
                    {{#each wotd-definition.lexicalEntries}}
                    <p><i>{{lexicalCategory}}</i></p>
                    {{#each entries}} {{#each senses}} {{#each definitions}}
                    <p>{{this}}</p>
                    {{/each}} {{/each}} {{/each}} {{/each}}
                </div>
            </section>
            <section id="programme" class="row">
                <div class="col-xs-8 agenda-item">Attendee Arrivals</div>
                <div class="col-xs-4 agenda-time">12:00 – 12:05 pm</div>
                <div class="col-xs-8 agenda-item">Welcome</div>
                <div class="col-xs-4 agenda-time">12:05 pm</div>
                <div class="col-xs-8 agenda-role">Sargeant-at-Arms</div>
                <div class="col-xs-4 agenda-name"><a href="mailto:fummy@test.com">Ray Meluch</a></div>
                <div class="col-xs-8 agenda-item">Role Introductions</div>
                <div class="col-xs-4 agenda-time">12:06 – 12:10 pm</div>
                <div class="col-xs-8 agenda-role">Toastmaster</div>
                <div class="col-xs-4 agenda-name"><a href="mailto:fummy@test.com">{{toastmaster}}</a></div>
                <div class="col-xs-8 agenda-role">Timer</div>
                <div class="col-xs-4 agenda-name"><a href="mailto:fummy@test.com">{{meeting.timer.0.name}}</a></div>
                <div class="col-xs-8 agenda-role">Ah-counter</div>
                <div class="col-xs-4 agenda-name"><a href="mailto:fummy@test.com">Annie Yoshiyama</a></div>
                <div class="col-xs-8 agenda-role">General Evaluator</div>
                <div class="col-xs-4 agenda-name"><a href="mailto:fummy@test.com">{{meeting.general_evaluator.0.name}}</a></div>
                <div class="col-xs-8 agenda-item">Prepared Speeches</div>
                <div class="col-xs-4 agenda-time">12:11 – 12:30 pm</div>
                <div class="col-xs-8 agenda-speech-title">'4th Wave VR, it's about to get real'</div>
                <div class="col-xs-4 agenda-name"><a href="mailto:fummy@test.com">John Gilbert</a></div>
                <div class="col-xs-8 agenda-speech-project">CC 10: Inspire Your Audience, 8 – 10 mins</div>
                <div class="col-xs-8 agenda-speech-title">'Bore da'</div>
                <div class="col-xs-4 agenda-name"><a href="mailto:fummy@test.com">Marcus Altman</a></div>
                <div class="col-xs-8 agenda-speech-project">CC 1: The Ice Breaker, 4 – 6 mins</div>
                <div class="col-xs-8 agenda-item">Table Topics</div>
                <div class="col-xs-4 agenda-time">12:30 – 12:42 pm</div>
                <div class="col-xs-8 agenda-speech-title">'Days of Future Passed'</div>
                <div class="col-xs-4 agenda-name"><a href="mailto:fummy@test.com">{{meeting.topicsmaster.0.name}}</a></div>
                <div class="col-xs-8 agenda-item">Responses, 1 – 2 mins</div>
                <div class="col-xs-4 agenda-name">Members</div>
                <div class="col-xs-8 agenda-item">Evaluations</div>
                <div class="col-xs-4 agenda-time">12:42 – 12:55 pm</div>
                <div class="col-xs-8 agenda-role">Speech 1 Evaluation, 2 – 3 mins</div>
                <div class="col-xs-4 agenda-name"><a href="mailto:fummy@test.com">Andrew Wilson</a></div>
                <div class="col-xs-8 agenda-role">Speech 2 Evaluation, 2 – 3 mins</div>
                <div class="col-xs-4 agenda-name"><a href="mailto:fummy@test.com">Mike Assenti</a></div>
                <div class="col-xs-8 agenda-role">Timer's Report, 1 – 2 mins</div>
                <div class="col-xs-4 agenda-name"><a href="mailto:fummy@test.com">Gary Halpin</a></div>
                <div class="col-xs-8 agenda-role">Ah-counter Report, 1 – 2 mins</div>
                <div class="col-xs-4 agenda-name"><a href="mailto:fummy@test.com">Annie Yoshiyama</a></div>
                <div class="col-xs-8 agenda-role">General Evaluation, 1 – 2 mins</div>
                <div class="col-xs-4 agenda-name"><a href="mailto:fummy@test.com">Candace Flemmer</a></div>
                <div class="col-xs-8 agenda-item">Club Business</div>
                <div class="col-xs-4 agenda-time">12:55 – 1:00 pm</div>
                <div class="col-xs-8 agenda-role">President</div>
                <div class="col-xs-4 agenda-name"><a href="mailto:fummy@test.com">Andrew Wilson</a></div>
                <div class="col-xs-8 agenda-item">Meeting Adjourns</div>
                <div class="col-xs-4 agenda-time">1:00 pm</div>

            </section>
        </article>
        <aside class="col-sm-3 col-sm-pull-9 sidebar">
            <section class="row">
                <div class="col-xs-12">
                    <dl>
                        <dt class="officer-role">President</dt>
                        <dd class="officer-name"><a href="mailto:awils@test.com">Andrew Wilson, CC, ALB</a> </dd>
                        <dt class="officer-role">VP Education</dt>
                        <dd class="officer-name"><a href="mailto:jgg@test.com">John Gilbert</a> </dd>
                        <dt class="officer-role">VP Membership</dt>
                        <dd class="officer-name"><a href="mailto:cairon.armstrong@test.com">Jamie Armstrong</a> </dd>
                        <dt class="officer-role">VP Public Relations</dt>
                        <dd class="officer-name"><a href="mailto:szm@test.com">Stewart Murrie, ACS, ALB</a> </dd>
                        <dt class="officer-role">Secretary</dt>
                        <dd class="officer-name"><a href="mailto:jbl@test.com">Josh Lando, CC, CL</a> </dd>
                        <dt class="officer-role">Treasurer</dt>
                        <dd class="officer-name"><a href="mailto:cflem@test.com">Candace Flemmer</a> </dd>
                        <dt class="officer-role">Sargeant-at-Arms</dt>
                        <dd class="officer-name"><a href="mailto:rwm@test.com">Ray Meluch</a> </dd>
                        <dt class="officer-role">Immediate Past President</dt>
                        <dd class="officer-name"><a href="mailto:cseli@test.com">Chris Seline, CC</a> </dd>
                    </dl>
                </div>
            </section>
            <section class="row">
                <div class="col-xs-12">
                    <p>Wednesdays, 12 – 1pm, 8th Tonal Center</p>
                    <p>Find out more on <a href="dolbyconnect">dolbyconnect</a></p>
                </div>
            </section>
            <section class="row">
                <div class="col-xs-12">
                    <p>Founded August 2012</p>
                    <p>Club# 2616974</p>
                    <p>District 4, Division C, Area 3</p>
                </div>
            </section>
        </aside>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <footer>
                <p>The mission of a Toastmasters club is to provide a mutually supportive and positive learning environment
                    in which every individual member has the opportunity to develop communication and leadership skills,
                    which in turn foster self-confidence and personal growth. Find out more at <a href="http://www.toastmasters.org">toastmasters.org</a>.</p>
            </footer>

        </div>
    </div>
</div>